<div class="estilosapp2">
	<footer id="footer">
		<div class="row">
			<div class="container">
			<div class="col-sm-4 relleno size12">
  				<a href="">Help</a> </br>
  				<a href="">About Movies Today</a> </br>
  				<a href="">What's the Movies Today</a> </br>
  				<a href="">Jobs</a> </br>
  				<a href="">Advertise</a> </br>
			</div><!-- col-sm-3 -->
			<div class="col-sm-4 relleno size12">
  				<a href="">Critic Submission</a> </br>
  				<a href="">API</a> </br>
  				<a href="">Licensing</a> </br>
			</div>  <!-- col-sm-3 -->
			<div class="col-sm-4 relleno">
 				<p class="white size18"><b>FOLLOW US</b></p>
 				<a class="fa fa-2x fa-twitter margin10le" href="" title="Twitter"></a>
 				<a class="fa fa-2x fa-facebook-square margin10le" href="" title="Facebook"></a>
 				<a class="fa fa-2x fa-google-plus margin10le" href="" title="Google Plus"></a>
 				<a class="fa fa-2x fa-youtube-play margin10le" href="" title="Youtube"></a>
 				<a class="fa fa-2x fa-tumblr margin10le" href="" title="Tumblr"></a>
			</div><!-- col-sm-3 -->
		</div><!-- container --> 		
		</div><!-- row --> 
	</footer>  
</div><!-- end estilosapp2 -->